<WindowConfig>
  <Directory>C:\Users\DevInCube\Desktop\res</Directory>
  <FramesPerSecond>0</FramesPerSecond>
  <DeleteImages>false</DeleteImages>
  <Cleanup>false</Cleanup>
  <Render>true</Render>
  <Compress>false</Compress>
  <CompressQuality>0</CompressQuality>
  <CompressDirectory>C:\\Users\\user\\Desktop\\compress</CompressDirectory>
  <Timed>true</Timed>
  <ShowFPS>false</ShowFPS>
  <title>Renderer</title>
</WindowConfig>